#include "hyper.dtsi"
#include "compose.dtsi"

/ {
    behaviors {
        compose_hyper: compose_hyper {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <0>;
            flavor = "tap-preferred";
            tapping-term-ms = <200>;
            bindings = <&compose>, <&hyper>;
        };
    };
};