// Don't forget that compose logic will be made with combos/macros

/ {
    behaviors {
        compose: compose {
            compatible = "zmk,behavior-macro";
            label = "COMPOSE";
            #binding-cells = <0>;
        };
    };
};